.hover-badge {
    transition: all 0.3s ease; /* Smooth transition */
}
  
  /* Style when hovered */
.hover-badge:hover {
  background-color: var(--bs-danger) !important;
  color: var(--bs-body-bg) !important;
}