.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.blurred {
  filter: blur(5px);
}

.responsive-width-50 {
  width: 100%;
}

@media (min-width: 1200px) {
  .responsive-width-50 {
    width: 50%;
  }
}

.responsive-width-25 {
  width: 100%;
}

@media (min-width: 992px) {
  .responsive-width-25 {
    width: 25%;
  }
}

.list-group-item > .price-tag {
  position: relative; 
  top: 0; 
  width: 100px;
  
  margin-left: auto; 
  margin-top: calc(-1 * (var(--bs-list-group-item-padding-y))); 
  margin-right: calc(-1 * (var(--bs-list-group-item-padding-x))); 

  border-bottom-left-radius: var(--bs-border-radius);

  background-color: var(--bs-body-color); 
  color: var(--bs-body-bg); 
  
  font-weight: bold;
}